@model BookStoreMVC.ViewModel.BookViewModel

@{
    ViewData["Title"] = "Book List";
}

<link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" />

<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<br />
<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Book List </h2>
    </div>
    <div class="col-3">
        <a class="btn btn-info text-white" asp-action="Upsert" asp-controller="Books">Add New Book</a>
    </div>

    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.Books.Count() > 0)
            {
                <table class="table table-bordered table-striped">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="Books.FirstOrDefault().Name"></label>
                        </th>
                        <th>

                            <label asp-for="Books.FirstOrDefault().Author"></label>
                        </th>
                        <th>
                            <label asp-for="Books.FirstOrDefault().ISBN"></label>
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model.Books)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Author)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.ISBN)
                            </td>
                            <td>
                                <button asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger btn-sm">Delete</button>
                                <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-success btn-sm text-white">Edit</a>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No books available.</p>
            }
        </form>
    </div>
    <div class="col-12  p-3 mt-3">
        <h3 class="text-center">OR</h3>
    </div>

    <div class="col-12 border p-3 mt-3">
        <table class="table table-bordered table-striped" width="100%" id="dataTable">
            <thead>
                <tr>
                    <th>
                        <label>Name</label>
                    </th>
                    <th>

                        <label>Author</label>
                    </th>
                    <th>
                        <label>ISBN</label>
                    </th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>

</div>

@section scripts{

    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/lib/bootstrap-sweetalert/sweetalert.js"></script>
    <script src="~/lib/app/app.js"></script>

}
